.title-page {
    background: url(../../../assets/imgs/background_footer.jpg);
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 260px;
    margin-bottom: 20px;

    a {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: white;
    }
}